@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
    /*margin: 0 auto;
    height: auto;*/
    position: relative;
    text-align: center;
    font-family: 'Nanum Gothic'


}
#edit_div{
    margin: auto;
    border: 1px;
    solid #aaa;
    border-radius:20px;
    box-shadow: 0px 0px 5px #aaa;
    width: 930px;
    height: 1380px;

}

#banner_header{
    margin:280px 120px 300px;
    clear: left;
    float: left;
    text-align: center;
}

#card{
    text-align: center;

}

#table{
    text-align: center;

}

#btn input[type=button]{
    font-size: 20pt;
    width:250px;
    height:85px;
    border:0;
    border-radius: 90px;
    background: #46a65e;
    color:white;
    margin: 300px 30px 20px;
} 

#btn input[type=button]:hover{
    cursor: pointer;
    background-color: #ffca08;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
